<script>
	import { navigate } from "svelte-routing";
	import {turno,jugadores,agregarPunto,termino} from "../store/store.js";
	
	let lista;
	jugadores.subscribe(value => {lista = value});

	function agregar(jug){
		agregarPunto(jug);
		if (termino){
			navigate("/fin");
		} else {
			navigate("/espera");
		}
	}
</script>

<h1>Quien Adivino la palabra?</h1>
<div>
	<ul>
		{#each lista as jg, i}
			<li on:click={(e)=> agregar(jg)}>
				<p>{jg.nombre}</p>
			</li>
		{/each}
	</ul>
</div>