<script>
	import { navigate } from "svelte-routing";
	import {editarRondas,editarTiempo,editarEspera} from "../store/store.js";
	let rondas = 5;
	let tiempo = 40;
	let espera = 10;
	function continuar(e){
		e.preventDefault();
		editarRondas(rondas);
		editarTiempo(tiempo);
		editarEspera(espera);
		navigate("/espera",{replace: true});
	}
</script>

<div class="fila">
	<p>rondas</p>
	<input type="number" name="rondas" bind:value={rondas}>
</div>
<div class="fila">
	<p>tiempo</p>
	<input type="number" name="tiempo" bind:value={tiempo}>
</div>
<div class="fila">
	<p>espera</p>
	<input type="number" name="epera" bind:value={espera}>
</div>
<div class="fila">
	<button on:click={continuar}>continuar</button>
</div>