<script>
	import {onMount} from "svelte";
	import { navigate } from "svelte-routing";
	import {nombreSiguiente,espera} from "../store/store.js";
	let tiempo;
	let nombre = "";
	let contador = 99;
	onMount(()=>{
		const c = espera.subscribe(value => {tiempo = value});
		const interval = setInterval(()=>{
			if (contador == 99){
				contador = tiempo;
				nombre = nombreSiguiente;
			} else if (contador <= 0){
				navigate("/juego");
				clearInterval(interval);
			}
			 else {
				contador = contador - 1;
			}
		}, 1000);

	})
</script>

<div class="fila">
	{nombre} preparate para empezar a dibujar!
</div>
<div class="fila">
	<h1>{contador}</h1>
</div> 