<script type="text/javascript">
	import { navigate } from "svelte-routing";
	import {onMount} from "svelte";
	import {cantidadJugadores,reset} from "../store/store.js";
	let jugadores = [];
	let ganador = "";
	let puntosAnterior = 0;
	onMount(()=>{
		jugadores = cantidadJugadores;
		jugadores.forEach((j)=>{
			if (j.puntos > puntosAnterior){
				puntosAnterior = j.puntos;
				ganador = j.nombre;
			}
		})	
	})
	function volver(e){
		e.preventDefault();
		reset();
		navigate("/");
	}
</script>
{#if puntosAnterior != 0}
	<h1>
		El ganador es: {ganador}!!
	</h1>
{:else}
	<h1>
		Nadie Gano jajaja
	</h1>
{/if}
<button on:click={volver}>Volver a jugar</button>