<script>
	import { navigate } from "svelte-routing";
	import {cantidadJugadores,nombreSiguiente,tiempo} from "../store/store.js";
	import Camara from "../componentes/camara.svelte";
	let nombre = "";
	let pjs = [];
	let temp;
	let contador = 99;
	const c = tiempo.subscribe(value => {temp = value});
	const interval = setInterval(()=>{
		if (contador == 99){
			contador = temp;
			pjs = cantidadJugadores;
			nombre = nombreSiguiente;
		} else if (contador <= 0){
			navigate("/lastima");
			clearInterval(interval);
		}
		 else {
			contador = contador - 1;
		}
	}, 1000);
	function handleKeydown(e){
		if (e.keyCode == 32){
			clearInterval(interval);
			navigate("/acerto");
		}
	}
</script>
<style>
	.hud{
		height: 10vh;
		width: 100vw;
		max-width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background:"cyan";
	}
</style>
<svelte:window on:keydown={handleKeydown}/>
<div class="hud">
	<div class="actual">
		<p>es el turno de</p>
		<h3>{nombre}</h3>
	</div>
	<div class="tiempo">
		<p>tiempo</p>
		<h3>{contador}</h3>
	</div>
	<div class="jugadores">
		<ul>
			{#each pjs as jug, i}
				<li>{jug.nombre} {jug.puntos}</li>
			{/each}
		</ul>
	</div>
</div>
<div class="juego">
	<Camara />	
</div>
