<script>
	import { navigate } from "svelte-routing";
	import {cantidadJugadores,agregarJugador,eliminarJugador} from "../store/store.js";
	let nombre = "";
	let lista = [];
	function agregar(e){
		e.preventDefault();
		agregarJugador(nombre);
		lista = cantidadJugadores;
		nombre = "";
	}
	function siguiente(e){
		e.preventDefault();
		navigate("/config",{replace: true});
	}
</script>

<div class="fila">
	<input type="text" name="nombre" bind:value={nombre}>
	<button on:click={agregar}>Agregar</button>
</div>
<div class="lista">
	<ul>
		{#each lista as jugador, i}
			<li on:click={(e)=>eliminarJugador(jugador.nombre)}><p>{jugador.nombre}</p></li>
		{/each}
	</ul>
</div>
<div class="fila">
	<button on:click={siguiente}>listo</button>
</div>