<script>
	import { navigate } from "svelte-routing";
	import {siguienteTurno,termino} from "../store/store.js";
	let contador = 5;
	const interval = setInterval(()=>{
			if (contador == 5){
				siguienteTurno();
				contador--;
			} else{
				contador--;
				if (contador == 0){
					if (termino){
						navigate("/fin");
						clearInterval(interval);
					} else {
						navigate("/espera");
						clearInterval(interval);
					}
				}
			}
	}, 1000);
</script>

<h1>
	Que lastima ninguno acerto!. jajaja
</h1>