<script>
	/*
		-agregar elegir color
		-acomodar trazo con lapiz
		-agregar estilo, pagina de reglas y hacer pagina de preguntas 
	*/
	import {onMount} from "svelte";
	let vid;
	let cv;
	let trazos = [[]];
	let colores = ["red"];
	let trazo = 0;
	function draw(rect) {
		trazos[trazo].push({x: rect.x + rect.width / 2, y: rect.y + rect.height / 2});
	}
	function dibujarLineas(trazo,i){
		const ctx = cv.getContext('2d');
		ctx.beginPath();
		ctx.strokeStyle = colores[i];
		trazo.forEach((p,i)=>{
			if (i === 0){
				ctx.moveTo(p.x,p.y);
			} else {
				ctx.lineTo(p.x,p.y);
			}
		})
		ctx.stroke();
	}
	function loop(){
		if (cv != null){
			for (var i = 0; i < trazos.length; i++) {
	  			dibujarLineas(trazos[i],i);
			}
			trazos = [trazos[trazos.length - 1]];
			trazo = 0;
			requestAnimationFrame(loop);
		}
    }
    function setColor(color){
    	colores[trazo] = color;
    }
	onMount(()=>{
		if (cv != null){
			const ctx = cv.getContext('2d');
			var tracker = new tracking.ColorTracker(['yellow', 'cyan']);
			tracking.track(vid, tracker, { camera: true });
			tracker.on('track', function(event) {
				if (event.data.length === 0 && trazos[trazo].length > 0) {
					trazo++;
					if (!trazos[trazo]){
						trazos[trazo] = [];
					}
				}
				event.data.forEach(function(rect) {
					if (rect.color == "yellow"){
						draw(rect);
					}
				})
			})
			loop();
		}
	})
</script>
<style>
	.contenedor{
		position: relative;
		margin: auto;
		width: 300px;
		height: 300px;
	}
	canvas,video{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: scaleX(-1);
		object-fit: cover;
	}
	video{
		z-index: 100;
	}
	canvas{
		z-index: 150;
	}
	.colores{
		position: absolute;
		left: -30px;
		top: 0;
		width: 30px;
		height: 100%;
		background: silver;
		color: white;
	}
</style>

<div class="contenedor">
	<div class="colores">
		<div on:click={(e)=>setColor("red")}>rojo</div>
		<div on:click={(e)=>setColor("blue")}>azul</div>
		<div on:click={(e)=>setColor("pink")}>rosa</div>
	</div>
	<video bind:this={vid} width="200" height="200" preload autoplay loop muted></video>
	<canvas bind:this={cv} width="200" height="200"></canvas>
</div>