<script>
	import { Router, Link, Route } from "svelte-routing";
	import Jugadores from "./rutas/jugadores.svelte";
	import Config from "./rutas/config.svelte";
	import Espera from "./rutas/espera.svelte";
	import Juego from "./rutas/juego.svelte";
	import Lastima from "./rutas/lastima.svelte";
	import Acerto from "./rutas/acerto.svelte";
	import Fin from "./rutas/fin.svelte";
	export let url = "";
</script>

<Router url="{url}">
	<Route path="/" component="{Jugadores}" />
	<Route path="/config" component="{Config}" />
	<Route path="/espera" component="{Espera}" />
	<Route path="/juego" component="{Juego}" />
	<Route path="/lastima" component="{Lastima}" />
	<Route path="/acerto" component="{Acerto}" />
	<Route path="/fin" component="{Fin}" />
</Router>